@charset "utf-8"
*{padding:0;margin:0;}
body{background: #eaeaea;}
.outter-wrapper{width:45em;height:80em;background: white;margin:0 auto;}
.inner-wrapper{width:100%; margin:0 auto;}
.inner-wrapper p{width:9em; margin:0 auto; padding-top:3em;}
.inner-wrapper p img{width:100%;}
.inner-wrapper .olinfo{list-style: none;width:100%;height:2em;}
.inner-wrapper ol{list-style:none;display:block;width:80%;padding:0;margin: 0 auto;height:2em;}
.inner-wrapper ol li{font-size:0.9em;float:left;padding:2em 1.34em;border-bottom:1px solid #e5e5e5;}
.textinfo{clear:both;width:80%;margin:0 auto;padding-top:2em;}
.inner-wrapper ol li:nth-of-type(3){border-bottom:1.5px solid purple;}
form{clear:both;}
.textinfo strong{font-size:1.3em;display: inline-block;margin-bottom: 1em;}
.textinfo em{font-style:normal;}
.main{width:80%;margin:2em auto 0 auto; border-top:2px solid #404040; border-bottom:2px solid #404040; margin-bottom:2em;}
.main tr{border-bottom:1px solid gray;}
.head{width:30%; height:3em; background: #c7c7c7; padding-left:0.5em; font-weight:bold;}
.body{padding-left:1em;}
.main input{width:17em; height:2em;}
.main input::placeholder{font-size:0.5em;}
.inputarea button{width:6em;height:2.4em; border:1px solid #575757; margin:0; padding:0;vertical-align: top;background:white; color:gray; border-radius: 5px;}
.main input[type="radio"]{font-size:0.4em; padding:0; margin:0; width:2em;}
#noti{display:block; font-size:0.8em;}
.mymega{display:inline-block; margin-right:0.6em; font-size:0.8em; vertical-align:sub;}
.body{height:3em; border-bottom:0.5px solid #b2afaf;}
.head{border:none;}
.useragree{width:80%; margin:0 auto; border:2px solid #cbcbcb; border-radius:10px;}
.useragree ul{margin: 1em; padding:1em;}
.useragree #legcap{width:100%; font-size:1.0em; color:#484848; display:inline-block; padding:1em 1em 1em 3em; border-bottom:1px solid #cbcbcb;box-sizing: border-box;}
.useragree ul{list-style: none;}
.lileg{padding-left:1em; font-size:1.15em; font-weight: bold; color:#505050;}
.contents{padding-left:3em; font-size:0.85em; padding-right:3em;}
.actual.agree, .actual.ck{display:flex; width:80%; height:3em; margin:0 auto;flex-direction: row; align-items: center; background: #dddddd; border-radius:5px;}
.actual.agree input[type="radio"], .actual.ck input[type="checkbox"]{ margin-left:3em;}
.actual.agree label, .actual.ck label{display:inline-block; margin-left:0.7em; font-size:0.67em;}
.footer{display:inline-block; font-size:0.8em; color:#505050; margin-left:2em; margin-top:1em; margin-bottom:1em;margin-right:2em;}
.btn-area{width:100%; text-align: center; padding-top:1em;}
button[type="submit"]{width:8em; height:2em; background: white; border:1px solid black; border-radius: 5px;}