@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}
html{width:100%;}
body{width:100%;}
.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}
section{
    width:100%;
    margin-left:40px;
}
.upper{width:100%; background:skyblue;color:black; height:5em; margin:0 auto;}
.info{width:500px; margin-left:40px;}
.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
/* CONTAINSSSSS NOT NAV*/
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #ddd;
  font-family: 'Arimo', sans-serif;
}

.title{
  text-align: center;
  color: #2c3e50;
}

/* CONTAINERS */ 

.container {max-width: 940px; width: 100%; margin: 0 auto; } 
.twelve { width: 100%; } 
.eleven { width: 91.53%; } 
.ten { width: 83.06%; } 
.nine { width: 74.6%; } 
.eight { width: 66.13%; } 
.seven { width: 57.66%; } 
.six { width: 49.2%; } 
.five { width: 40.73%; } 
.four { width: 32.26%;} 
.three { width: 23.8%; } 
.two { width: 15.33%; } 
.one{ width: 6.866%;}

 /* COLUMNS */ 

.col { 
	display: block; 
	float:left;
	margin: 1% 0 1% 1.6%; 
} 

.col:first-of-type { margin-left: 0; }

 /* CLEARFIX */ 

 .cf:before, .cf:after { 
 	content: " "; 
 	display: table; 
 } 
 
 .cf:after {
	clear: both; 
} 
 
 .cf { 
 	*zoom: 1; 
 }

/* PROFILES */

.card{
	max-width: 100%;
	height: 400px;
	background-color: #fff;
	font-family: 'Arimo', sans-serif;
	font-size: 14px;
}

/* CARD ! */

#card1{
	text-align: center;
	color: #2c3e50;
	padding: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#card1 .image-wrapper{
	width: 100px;
	height: 100px;
	margin: 20px auto;
	border-radius: 100%;
	background-image: url("https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#card1 .info .four{
	text-align: center;
	border-right: 1px solid #2c3e50;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#card1 .info .four:last-of-type{
	border-right: none;
}

#card1 .info .four .number{
	display: block;
	font-size: 20px;
	padding: 3px 0;
	font-weight: 700;
}

#card1 .options{
	margin-top: 30px;
	text-align: left;
}

#card1 .options ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#card1 .options ul .icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #3498db;
	border-radius: 100%;
	margin-right: 8px;
	vertical-align: middle;
	color: #fff;
	line-height: 30px;
	text-align: center;
}

#card1 .options ul li{
	margin: 12px 0;
}

/* CARD 2 */

#card2{
	overflow: hidden;
	color: #2c3e50;
}

#card2 a{
	color: #2c3e50;
}

#card2 .wrapper{
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#card2 .header{
	width: 100%;
	height: 100px;
	position: relative;
	background-color: #3498db;
}

#card2 .header:after{
	content: '';
    background: inherit;
    bottom: 0;
    display: block;
    height: inherit;
    position: absolute;
    left: 0;
    right: 0;
    transform: skewY(-8deg);
    -webkit-transform: skewY(-8deg);
    transform-origin: 100%;
}

#card2 .image-wrapper{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-image: url("https://static.pexels.com/photos/7097/people-coffee-tea-meeting.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
    z-index: 5;
    top: 130px;
    left: 50%;
    margin-left: -50px;
}

#card2 .name{
	margin-top: 70px;
	text-align: center;
}

#card2 .social .four{
	text-align: center;
}

#card2 .info{
	margin: 30px 0;
	text-align: center;
}

/* CARD 3 */

#card3{
	color: #2c3e50;
}

#card3 .header{
	width: 100%;
	height: 180px;
	background-image: url("https://static.pexels.com/photos/9692/pexels-photo.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

#card3 .wrapper{
	padding: 0px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#card3 .name{
	font-weight: 400;
}

#card3 .info{
	margin: 20px 0;
	text-align: center;
}

#card3 .info .number{
	background-color: #3498db;
	color: #fff;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
}

