.forum-head{display:flex; width:100%;}
.forum-head > .column { background-color: hsl(206, 35%, 13%); border-right: 1px solid hsl(212, 35%, 15%); border-left: 1px solid hsl(212, 28%, 12%); color: hsl(0, 0%, 100%); font-weight: 300; font-size: 12px; text-shadow: 0 1px 1px hsl(0, 0%, 0%); text-align: center;}
.forum-head > .column:first-child {text-align: left;border-left: none;}
.forum-head > .column:last-child {border-right: none;}
.forum-topic{display:flex; flex-direction: row;}
.forum-topic > .column {min-height: 50px;max-height: 50px;background-color: hsl(0, 0%, 96%); border-bottom: 1px solid hsl(0, 0%, 90%);color: hsl(0, 0%, 50%); font-size: 14px;}
.forum-topic > .column:first-child {color: hsl(0, 0%, 60%); font-size: 30px; text-align: center;}
.forum-topic > .column:nth-child(n+3) {text-align: center;}
.forum-topic > .column:last-child {text-align: left;}
.forum-topic a {transition: color .5s;color: hsl(195, 73%, 58%); font-weight: 600;}
.cal:hover{cursor:pointer}
.forum-topic a:hover {color: hsl(195, 73%, 48%);}
.forum-topic span {display: block; margin: 0 0 2px 0;}
.overflow-upper {white-space: nowrap;text-overflow:ellipsis; font-size:12px; margin-top:5px; display:inline-block;}
.overflow-control {white-space: nowrap;text-overflow:ellipsis; font-size:20px;}
.forum-topic .column:nth-child(2) span.overflow-control {width: 70%; height: 15px;}
.forum-topic span.center {padding-top: 10px;}
.lta{padding:20px 40px;}
#search_comm{height:5em; width:100%-40px; text-align:right; display:flex; align-items:center; flex-direction:row; justify-content: flex-end; border-top:2px solid hsla(0, 0%, 100%, 0.43); padding:10px;  box-sizing:border-box; margin-left:20px; margin-right:20px;  border-bottom:2px solid hsla(0, 0%, 100%, 0.43); }
#search_comm select{width:100px; height:30px;}
#search_comm input[type="text"]{width:300px; height:30px; vertical-align:center; border:none; margin-right:20px; margin-left:20px;}
#search_comm button[type="submit"]{width:150px; height:30px; vertical-align:cetner; border:2px solid white; border-radius:10px; background:transparent; color:white; font-size:16px; font-weight:bold;}
#community_post{width:150px; height:30px; border:2px solid white; background:transparent; border-radius:10px; color:white; font-weight:bold; margin-right:20px;}
.toggleview{margin-top:20px;}
.communitylogo{width:20px; height:20px;}
/*page block common css*/  
.page_block{width:100%; height:3em; margin-top:20px;}
.blocks{margin:0; padding:0; display:flex; list-style: none; flex-direction: row; justify-content:center; align-items: center;}
.blocks li{padding: 0 10px; color:#0180fe; font-size:16px;}
.blocks li:hover{cursor:pointer;}
.blockcurr{color:black;}
#bulk_delete_submit{width:150px; height:30px; border:2px solid white; border-radius:10px; float:left; color:white; background:transparent; font-size:16px;}
/*page block commom css*/
button[type="button"]:hover, button[type="submit"]{cursor:pointer;}