button[type="button"]:hover, button[type="submit"]{cursor:pointer;}
/*여기부터 카드파트*/
section{width:100%; height:56em; margin-left:50px; box-sizing: border-box; margin-top:0; }
.upper{width:100.7%; color:black; height:7em; padding:0;background: rgba(75, 75, 75, 0.6);}
.upper .info{width:95%; margin-left:0px; height:7em; display:flex; align-items: center; padding-left:30px; color:white;}
/* .container {width:1400px; padding-top:3em; height:35em;} */ 
.twelve { width: 100%; } 
.eleven { width: 91.53%; } 
.ten { width: 83.06%; } 
.nine { width: 74.6%; } 
.eight { width: 66.13%; } 
.seven { width: 57.66%; } 
.six { width: 49.2%; } 
.five { width: 40.73%; } 
.four { width: 32.26%;} 
.three { width: 23.8%; } 
.two { width: 15.33%; } 
.one{ width: 6.866%;}
.greets.ar{text-align:right; margin-top:20px;}
 /* COLUMNS */ 
/*container*/
.profilebg{width:100%; margin-top:100px; background:rgba(146, 214, 239, 0.34);}
.profile{width:auto; height:50em; margin:0 auto; padding-top:80px; border-radius: 10px;}
.row.cf{width:1400px; height:auto; margin:0 auto; display:flex; padding:0; justify-content: space-between;}
/*각 파트 outter*/
.card{width:420px; height: 700px; background-color: #fff;	font-family: 'Arimo', sans-serif; font-size: 14px; 
border:1px solid #ffffff; border-radius: 10px; margin:0 100px;}

/*각 표시부*/
/*좌측카드*/
#card1{text-align: center; color: #2c3e50; padding-top:40px; margin:0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#card1 .image-wrapper{width:200px;height: 200px;margin: 20px auto; border-radius: 100%; background-image: url("https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg"); background-size: cover; background-repeat: no-repeat;}
.info.cf{width:100%; height:320px; padding:0; margin:0;}
.cf:before, .cf:after {content: " "; display: table;} 
.cf:after{clear: both;} 
.cf {*zoom: 1;}
/*좌측 상세프로필*/
#card1 .info{margin:0; display:flex; flex-direction: column; justify-content: space-between;}
#card1 .info .four{	text-align: center; width:100%; height:5em; margin:10px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
box-sizing: border-box;}
#card1 .info .four:last-of-type{border-right: none;}
/* #card1 .info .four .number{display: block; font-size: 20px;	padding: 3px 0;	font-weight: 700;} */
.number{display: block; font-size: 25px;	padding: 3px 0;	font-weight: bold;}
#card1 .options{margin-top: 30px; text-align: left;}
#card1 .options ul{list-style-type: none; padding: 0; margin: 0;}
#card1 .options ul .icon{display: inline-block; width: 30px; height: 30px; background-color: #3498db; border-radius: 100%; margin-right: 8px; vertical-align: middle; color: #fff; line-height: 30px; text-align: center;}
#card1 .options ul li{margin: 12px 0;}

/* CARD 2 외곽 */
#card2{margin:0; overflow: hidden; color: #2c3e50;}
#card2 a{color: #2c3e50; text-decoration: none;}
#card2 .wrapper{padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
/*머리부분*/
#card2 .header{width: 100%; height: 100px; position: relative; background-color: #3498db;}
#card2 .header:after{ content: 'Your Contributions'; background: inherit; bottom: 0; display: block; height: inherit; position: absolute; left: 0;
right: 0; transform: skewY(-8deg); -webkit-transform: skewY(-8deg); transform-origin: 100%; font-size:2em; color:white;padding-left:1em;}

#card2 .info.teaminfo{padding:0; margin:0; width: 100%; text-align: center; height:400px; margin-top:50px;}
#attributions{margin-top:100px;}
#attributions ul{list-style: none; padding:0; margin:60px 0;}
.cont{text-align:right;}

#attributions p {display:inline-block;}
#pwcgbtn, #signoutbtn, .golistbtn{width:150px; height:40px; font-size:16px; background-color: #6e97f4; border-radius:5px; border:none; color:white; font-weight: bold;}
.golistbtn{float:right; top:10px;}
#passwordchange{display:none; width:100%; height:100%; position: absolute; z-index:50; background-color: rgba(149, 149, 149, 0.46); }
#pwchangeinputarea{width:500px; height:400px; margin:15% auto; border:2px solid rgba(93, 93, 93, 0.35); background-color: rgb(255, 255, 255); border-radius:20px; padding:20px;}
#pwchangeinputarea table, #signoutarea table{width:100%; height:100%;}
.te{width:100%; height:50px; font-size:20px; margin:0; padding:0;}
.pwchin input[type="password"], .pwchin input[type="text"]{
    width:100%; height:2em; box-sizing: border-box; font-size:16px; border: 2px solid #bebbbb; border-radius:2px;
}
.pwchin{text-align: right;}
.pwchbtnarea{width:100%; display:flex; flex-direction: row; justify-content: space-between; align-items: center;}
.pwchbtnarea button[type="button"]{
    width:100px; height:30px; font-size:16px; background-color: #6e97f4; color:white; border-radius: 5px; border:none; font-weight:500;
}
#signoutstart{display:none; width:100%; height:100%; position: absolute; z-index:50; background-color: rgba(149, 149, 149, 0.46);}
#signoutarea{width:500px; height:300px; margin:15% auto; border:2px solid rgba(93, 93, 93, 0.35); background-color: rgb(255, 255, 255); border-radius:20px; padding:20px;}
.infoexp{font-size:20px;}
.info{font-size:15px;}
