.pad { padding: 10px 15px; }
.spad { padding: 10px 5px; }
.mpad{padding:10px;}
/*커다랗게만드는거*/
.lpad {padding: 10px 20px;}
.lgpad{padding: 40px;}
.ltpad{padding: 10px 0;}

/*우측정렬 클래스*/
.ar{text-align:right;}
.rounded {overflow: hidden;}
.rounded.top {border-radius: 4px 4px 0 0;}
.rounded.all {border-radius: 4px;}
/*large 8 -> 75*/
.large-75{width:75%;}
.large-70{width:70%;}
.large-1{width:1%;}
.large-2{width:2%;}
.large-15{width:15%;}
.large-5{width:6%;}
.mt{ margin-top: 1.25em; }
/*.row.mt {}*/
.mb { margin-bottom: 1.25em;}