
body {font-family: 'Open Sans', sans-serif;}
header {background-image: url('https://subtlepatterns.com/patterns/use_your_illusion.png'); margin: 0; border-bottom: 3px solid hsl(195, 73%, 58%);}
a {display: inline-block; color: inherit; text-decoration: none;}

.forum-category {background-color: hsl(195, 73%, 58%); /* color: hsl(0, 0%, 100%); */ font-weight: 600; font-size: 15px; /* text-shadow: 0 1px 1px hsl(195, 73%, 40%); */}
/*common setting fin
*/
.logo {color: hsl(0, 0%, 100%);font-size: 18px; text-transform: lowercase; padding-left:15px; border-radius:5px;}

.logo span:first-child {font-weight: 400;}
.logo #main_header_location_t_name{color: hsl(0, 0%, 70%);font-weight: 300;}
.main.header.submenu{margin-right:15px;}
nav.menu a {margin: 0 7px; color: hsl(0, 0%, 70%); font-size: 12px; font-weight: 600; text-decoration: none;}
nav.menu a:last-child {margin: 7px 0 7px 7px;}
nav.menu a.current {color: hsl(0, 0%, 100%);}
.greets {border-bottom: 5px solid hsla(0, 0%, 90%, .3); color: hsl(0, 0%, 40%); font-weight: 500; font-size:15px;}
.greets>.underline{font-weight:bold; color:#0073ff;}
#noticetitle{width:100%; height:2em; padding:0; font-size:3em; box-sizing: border-box; text-align:center;}
#noticetitle input[type="text"]{width:94%; margin:0; height:3em; font-size:0.4em; box-sizing: border-box; border:1px solid white;}
#noticecontent{margin-top:2em;}
#content{font-size:20px; width:100%; height:20em; border:2px solid black; border-radius:10px; box-sizing: border-box; padding:30px;overflow-y:scroll; resize:none;}
#noticesubmit{width:100px; height:30px; border:2px solid white; color:white; background:transparent; border-radius:10px;}
/* 파일업로드 안내 */
#uploadfiles{width:100%; font-size:16px; border:1px solid gray; height:7em; overflow:auto; padding:10px;  border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; margin-bottom:10px;}
#upload_info{margin-top:-10px;}
input[type="file"]{color:transparent; margin:0; padding:0; background:transparent;}
/* #n_title{border:1px solid white; width:90%; box-size:border-box;} */
.note-editable{font-size:20px;}