#lbtitle{font-size:14px; padding:20px 0px 20px 30px;}
.logo {color: hsl(0, 0%, 100%);font-size: 18px; text-transform: lowercase; padding-left:15px; border-radius:5px;}
.logo span:first-child {font-weight: 400;}
.logo #main_header_location_t_name{color: hsl(0, 0%, 70%);font-weight: 300;}
.main.header.submenu{margin-right:15px;}
nav.menu a {margin: 0 7px; color: hsl(0, 0%, 70%); font-size: 12px; font-weight: 600; text-decoration: none;}
nav.menu a:last-child {margin: 7px 0 7px 7px;}
nav.menu a.current {color: hsl(0, 0%, 100%);}
.greets {border-bottom: 5px solid hsla(0, 0%, 90%, .3); color: hsl(0, 0%, 40%); font-weight: 500; font-size:15px;}
.greets>.underline{font-weight:bold; color:#0073ff;}
.mainwrapper{display:block; width: 100%; height:auto; position:relative; margin-top:10px;}
#noticetitle{width:100%; height:2em; padding:10px 0px 10px 30px; font-size:24px; box-sizing: border-box;}
/* #notiwrapper{display:block; width:90%; height:100%; position:absolute; top:1em; left:5%; right:5%;} */
#noticecontent{margin-top:2em;}
#content{width:100%; height: auto; border:1px solid #a5a5a5; border-radius:10px; box-sizing: border-box; padding:20px; overflow:auto; font-size:20px;}
#uploadfiles{width:100%; height:auto; overflow:auto; border:1px solid #b2b2b2; border-radius:10px; margin-top:20px; padding:20px; font-size:1.2em;}
#noticeinfos{width:100%; height:3em; border:1px solid #acacac; padding-left:20px font-size:0.8em; border-radius:5px; margin: 20px auto 0px auto;}
#noticeinfos ul{list-style: none; display:flex;margin:0; padding:0; justify-content: center; align-items: center; font-size:16px;}
#noticeinfos li{padding:10px 60px};