@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Open+Sans+Condensed:300,700);

.fa-2x {font-size: 2em;}
.fa {position: relative; display: table-cell; width: 60px; height: 36px; text-align: center; vertical-align: middle; font-size:20px;}
/*Global Settings*/
html{width:100%; padding:0; margin:0;}
body{width:95%; font-family: 'Open Sans', sans-serif;}
/*left-mainmenu*/
/*left-mainmenu initial setting*/
.area {float: left; background: #e2e2e2; width: 100%; height: 100%;}
.main-menu {background:#212121; border-right:1px solid #e5e5e5; position:absolute; top:0; bottom:0; height:100%; left:0; width:60px; overflow:hidden; -webkit-transition:width .05s  inear; transition:width .05s linear; -webkit-transform:translateZ(0) scale(1,1); z-index:1000;}
.main-menu>ul {margin:7px 0;}
.main-menu li {position:relative; display:block; width:250px;margin:30px 0;}
.main-menu li>a {position:relative; display:table; border-collapse:collapse; border-spacing:0; color:#999; font-family: arial; font-size: 14px; text-decoration:none; -webkit-transform:translateZ(0) scale(1,1); -webkit-transition:all .1s linear; transition:all .1s linear;}
.main-menu .nav-icon {position:relative; display:table-cell; width:60px; height:36px; text-align:center; vertical-align:middle; font-size:18px; }
.main-menu .nav-text {position:relative; display:table-cell; vertical-align:middle; width:190px; font-family: 'Titillium Web', sans-serif;}
.main-menu>ul.logout {position:absolute; left:0; bottom:0;}
.no-touch .scrollable.hover {overflow-y:hidden;} 
/*left-mainmenu hover (expand)*/
.main-menu:hover,nav.main-menu.expanded {width:250px; overflow:visible;}
.main-menu:hover .upper.info{margin-left:500px;}
.no-touch .scrollable.hover:hover {overflow-y:auto; overflow:visible;}
a:hover,a:focus {text-decoration:none;}
nav {-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}
nav ul,nav li {outline:0; margin:0; padding:0;}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {color:#fff; background-color:#5fa2db;}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
section{width:100%; height:56em; margin-left:50px; box-sizing: border-box; margin-top:0; }
/*.upper{width:100.7%; color:black; height:7em; padding:0;background: rgba(75, 75, 75, 0.6);}
.upper .info{width:95%; margin-left:0px; height:7em; display:flex; align-items: center; padding-left:30px; color:white;}*/

/*Main*/
/*Broad Settings*/
body {font-family: 'Open Sans', sans-serif;}
header {background-image: url('https://subtlepatterns.com/patterns/use_your_illusion.png'); margin: 0; border-bottom: 3px solid hsl(195, 73%, 58%);}
a {display: inline-block; color: inherit; text-decoration: none;}
/*BroadSetting fin*/

/*common settings*/
.pad { padding: 15px; }
.spad { padding: 5px; }
.mpad{padding:10px;}
/*커다랗게만드는거*/
.lpad { padding: 20px;}
.ltpad{padding: 20px 0;}

/*우측정렬 클래스*/
.ar{text-align:right;}
.rounded {overflow: hidden;}
.rounded.top {border-radius: 4px 4px 0 0;}
.rounded.all {border-radius: 4px;}
/*large 8 -> 75*/
.large-75{width:75%;}
.large-70{width:70%;}
.large-1{width:1%;}
.large-2{width:2%;}
.large-15{width:15%;}
.large-5{width:6%;}
.mt{ margin-top: 1.25em; }
/*.row.mt {}*/
.mb { margin-bottom: 1.25em;}
/*카데고리 안내*/
.forum-category {background-color: hsl(195, 73%, 58%); color: hsl(0, 0%, 100%); font-weight: 600; font-size: 13px; text-shadow: 0 1px 1px hsl(195, 73%, 40%);}
/*common setting fin
*/

.logo {color: hsl(0, 0%, 100%);font-size: 18px; text-transform: lowercase;}
.logo span:first-child {font-weight: 400;}
.logo #main_header_location_t_name{color: hsl(0, 0%, 70%);font-weight: 300;}
.main.header.submenu{margin-right:15px;}
nav.menu a {margin: 0 7px; color: hsl(0, 0%, 70%); font-size: 12px; font-weight: 600; text-decoration: none;}
nav.menu a:last-child {margin: 7px 0 7px 7px;}
nav.menu a.current {color: hsl(0, 0%, 100%);}
.greets {border-bottom: 5px solid hsla(0, 0%, 90%, .3); color: hsl(0, 0%, 40%); font-size: 13px; font-weight: 300;}

/*
.breadcrumb a {
  transition: color .5s;
}
.breadcrumb a:hover {
  color: hsl(0, 0%, 20%);
}
.breadcrumb a:after {
  content: '\00a0\00a0\002F\00a0\00a0';
  color: hsl(0, 0%, 70%);
}
.breadcrumb a:last-child:after {
  content: '\00a0\00a0\002F\00a0\00a0 now you\0027re here';
  color: hsl(0, 0%, 70%);
}*/
/*
a.primary {color: hsl(0, 0%, 70%);transition: color .5s;}
a.primary:hover {color: hsl(195, 73%, 58%);}
a.underline {color: hsl(0, 0%, 70%);}
a.underline:hover:after {content: ''; display: block; width: inherit; height: 2px; background-color: hsl(195, 73%, 58%); margin-bottom: -2px; animation: link .9s ease;}
@keyframes link {from { width: 0; } to  { width: 100%;}}
 Topic 
*/

#top-button {display: none; width: 27px; background-color: hsl(206, 35%, 13%); position: fixed; right: 60px; bottom: 20px; border-radius: 3px; cursor: pointer; padding: 5px; text-align: center; color: hsl(0, 0%, 100%);}
#top-button.show {display: block;}

.mainwrapper{display:block; width: 100%; height:47em; /* overflow:hidden; */ position:relative;}
#notiwrapper{display:block; width:90%; height:100%; position:absolute; top:1em; left:5%; right:5%;}
#noticetitle{width:100%; height:2em; padding:0; font-size:3em; box-sizing: border-box;}
#noticetitle input[type="text"]{width:100%; margin:0; height:3em; font-size:0.4em; box-sizing: border-box;}
#noticecontent{margin-top:2em;}
#content{font-size:20px; width:100%; height:20em; border:2px solid black; border-radius:10px; box-sizing: border-box; padding:30px;overflow-y:scroll; resize:none;}
#uploadfiles{ width:100%; height:4em; border:1px solid black; padding-left:20px; font-size:1.5em;}
